body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-custom {
    background-image: linear-gradient(to right, rgb(94, 13, 187), #1d51a5);
    padding: 0.5 !important;
}

.navbar-brand img {
    height: 1cm;
    padding-left: 10px;
}

.navbar-nav li a {
    color: rgb(152, 222, 240) !important;
    font-weight: 600;
    /* text-align: left; */
}


/* .fa-bars {
    color: azure;
} */

.navbar-toggler {
    outline: none !important;
}


/* ___________Banner section___________ */

#banner {
    background-image: linear-gradient(to right, rgb(94, 13, 187), #1d51a5);
    color: rgb(176, 227, 240) !important;
    padding: 0px;
    margin-bottom: 20cm;
}

.logo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
}

.play-btn {
    height: 25%;
    /* width: 25%; */
    padding-top: 35px;
}

#banner a {
    color: white;
    text-decoration: none;
}

.rtp_bg {
    height: 550px;
    padding-top: 15%;
    padding-left: 0%;
}

.wave1_img {
    padding-left: 0 !important;
    width: 100%;
    /* height: fit-content; */
}

.container {
    height: 600px;
}