body {
    font-family: sans-serif;
    /* overflow: scroll; */
    /* height:  */
    /* padding: 0%;
    margin: 0%; */
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-custom {
    background-image: linear-gradient(to right, rgb(94, 13, 187), #1d51a5);
    padding: 0.5 !important;
}

.navbar-brand img {
    height: 1.3cm;
    padding-left: 10px;
}

.navbar-nav li a {
    color: rgb(126, 142, 214) !important;
    font-weight: 600;
    /* text-align: left; */
}


/* .fa-bars {
    color: azure;
} */

.navbar-toggler {
    outline: none !important;
}


/* ___________Banner section___________ */

#banner {
    background-image: linear-gradient(to right, rgb(94, 13, 187), #1d51a5);
    color: rgb(176, 227, 240) !important;
    padding: 0px;
    margin-bottom: 3cm;
}

.logo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
}

.play-btn {
    height: 25%;
    /* width: 25%; */
    padding-top: 35px;
}

#banner a {
    color: white;
    text-decoration: none;
}

.rtp_bg {
    height: 550px;
    padding-top: 15%;
    padding-left: 0%;
}

.wave1_img {
    padding-left: 0 !important;
    width: 100%;
    /* height: fit-content; */
}

.container {
    height: 14.5cm;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}


/* #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 899px 542px #FFF, 1002px 106px #FFF, 879px 987px #FFF, 1601px 233px #FFF, 1471px 184px #FFF, 1027px 423px #FFF, 490px 701px #FFF, 338px 1147px #FFF, 911px 1518px #FFF, 162px 1518px #FFF, 1758px 606px #FFF, 903px 1294px #FFF, 985px 1080px #FFF, 1316px 36px #FFF, 272px 301px #FFF, 464px 5px #FFF, 786px 1254px #FFF, 826px 236px #FFF, 1761px 1699px #FFF, 858px 948px #FFF, 748px 368px #FFF, 1392px 1481px #FFF, 1465px 1378px #FFF, 115px 166px #FFF, 1223px 185px #FFF, 539px 489px #FFF, 1678px 438px #FFF, 510px 306px #FFF, 1026px 1851px #FFF, 638px 1071px #FFF, 964px 249px #FFF, 1340px 1805px #FFF, 2px 1052px #FFF, 902px 1176px #FFF, 823px 1832px #FFF, 139px 1899px #FFF, 141px 375px #FFF, 1214px 1987px #FFF, 690px 449px #FFF, 1554px 1179px #FFF, 800px 1503px #FFF, 1772px 542px #FFF, 1793px 1067px #FFF, 1978px 1758px #FFF, 571px 738px #FFF, 241px 1624px #FFF, 1205px 869px #FFF, 342px 1854px #FFF, 945px 131px #FFF, 507px 1589px #FFF, 1257px 116px #FFF, 1328px 756px #FFF, 1692px 1226px #FFF, 1797px 625px #FFF, 1316px 1396px #FFF, 133px 1591px #FFF, 1840px 1437px #FFF, 934px 1240px #FFF, 1197px 1969px #FFF, 937px 1329px #FFF, 1281px 1507px #FFF, 1276px 1862px #FFF, 218px 1763px #FFF, 1805px 1735px #FFF, 113px 753px #FFF, 449px 1826px #FFF, 693px 409px #FFF, 364px 994px #FFF, 1704px 78px #FFF, 1061px 1614px #FFF, 1001px 1546px #FFF, 649px 370px #FFF, 212px 1349px #FFF, 1185px 218px #FFF, 1581px 256px #FFF, 1212px 271px #FFF, 533px 1461px #FFF, 999px 762px #FFF, 583px 1109px #FFF, 1154px 1569px #FFF, 410px 273px #FFF, 357px 98px #FFF, 1753px 1593px #FFF, 64px 1043px #FFF, 1520px 799px #FFF, 1709px 1119px #FFF, 119px 524px #FFF, 964px 809px #FFF, 1031px 255px #FFF, 1914px 1132px #FFF, 1207px 329px #FFF, 1670px 555px #FFF, 1385px 155px #FFF, 394px 834px #FFF, 1812px 1399px #FFF, 1356px 977px #FFF, 4px 887px #FFF, 114px 945px #FFF, 250px 1076px #FFF, 917px 1906px #FFF, 1309px 1749px #FFF, 691px 1168px #FFF, 1413px 1685px #FFF, 331px 303px #FFF, 1710px 867px #FFF, 1439px 362px #FFF, 300px 1038px #FFF, 65px 306px #FFF, 728px 1036px #FFF, 1079px 34px #FFF, 1669px 1358px #FFF, 454px 951px #FFF, 212px 1963px #FFF, 581px 1114px #FFF, 1948px 1397px #FFF, 540px 501px #FFF, 1374px 1391px #FFF, 374px 542px #FFF, 519px 1470px #FFF, 1800px 192px #FFF, 480px 859px #FFF, 716px 1552px #FFF, 1756px 130px #FFF, 1724px 1791px #FFF, 612px 1077px #FFF, 34px 695px #FFF, 177px 367px #FFF, 1556px 1411px #FFF, 824px 1934px #FFF, 1521px 352px #FFF, 1491px 1780px #FFF, 387px 272px #FFF, 1440px 741px #FFF, 558px 1336px #FFF, 1895px 369px #FFF, 1287px 1600px #FFF, 1509px 19px #FFF, 397px 897px #FFF, 683px 1344px #FFF, 1423px 243px #FFF, 619px 296px #FFF, 1454px 1562px #FFF, 1527px 324px #FFF, 935px 1774px #FFF, 649px 1161px #FFF, 240px 1649px #FFF, 224px 885px #FFF, 363px 562px #FFF, 272px 979px #FFF, 1508px 1766px #FFF, 1446px 963px #FFF, 298px 1838px #FFF, 1803px 631px #FFF, 1828px 991px #FFF, 1481px 1879px #FFF, 1896px 1778px #FFF, 111px 1907px #FFF, 1817px 1777px #FFF, 1284px 784px #FFF, 889px 764px #FFF, 1589px 339px #FFF, 662px 617px #FFF, 1090px 1444px #FFF, 54px 1672px #FFF, 586px 1721px #FFF, 69px 854px #FFF, 511px 148px #FFF, 687px 32px #FFF, 1032px 720px #FFF, 828px 1233px #FFF, 1285px 1272px #FFF, 39px 1252px #FFF, 1137px 1601px #FFF, 1211px 195px #FFF, 496px 1324px #FFF, 809px 244px #FFF, 1223px 475px #FFF, 1867px 377px #FFF, 331px 1123px #FFF, 1213px 429px #FFF, 1699px 152px #FFF, 1053px 595px #FFF, 15px 878px #FFF, 1017px 457px #FFF, 876px 1567px #FFF, 735px 1645px #FFF, 122px 1869px #FFF, 964px 1889px #FFF, 1778px 756px #FFF, 1886px 1835px #FFF, 1444px 1946px #FFF, 520px 1274px #FFF, 572px 396px #FFF, 822px 880px #FFF, 841px 1204px #FFF, 1747px 728px #FFF, 798px 1583px #FFF, 1690px 837px #FFF, 677px 537px #FFF, 1649px 780px #FFF, 1157px 140px #FFF, 489px 967px #FFF, 243px 505px #FFF, 412px 1722px #FFF, 87px 1463px #FFF, 1463px 713px #FFF, 692px 1732px #FFF, 877px 574px #FFF, 1188px 518px #FFF, 5px 1458px #FFF, 847px 1596px #FFF, 1700px 1740px #FFF, 514px 1043px #FFF, 84px 239px #FFF, 1335px 1574px #FFF, 1104px 194px #FFF, 288px 954px #FFF, 1466px 775px #FFF, 442px 1199px #FFF, 1955px 20px #FFF, 669px 1479px #FFF, 1278px 1045px #FFF, 1422px 1436px #FFF, 962px 788px #FFF, 833px 742px #FFF, 813px 343px #FFF, 1123px 457px #FFF, 185px 56px #FFF, 1985px 1137px #FFF, 1684px 974px #FFF, 272px 777px #FFF, 1674px 540px #FFF, 1850px 1455px #FFF, 1044px 396px #FFF, 1013px 651px #FFF, 435px 637px #FFF, 1873px 1175px #FFF, 1664px 1632px #FFF, 508px 105px #FFF, 494px 802px #FFF, 996px 1442px #FFF, 1048px 998px #FFF, 1148px 1454px #FFF, 1329px 179px #FFF, 847px 1815px #FFF, 1629px 588px #FFF, 633px 1938px #FFF, 915px 218px #FFF, 1202px 1147px #FFF, 290px 177px #FFF, 1368px 487px #FFF, 1491px 1705px #FFF, 1594px 108px #FFF, 175px 624px #FFF, 121px 1122px #FFF, 1877px 1042px #FFF, 531px 1121px #FFF, 1954px 1263px #FFF, 1145px 287px #FFF, 929px 588px #FFF, 1292px 457px #FFF, 1557px 188px #FFF, 1487px 546px #FFF, 1417px 903px #FFF, 343px 704px #FFF, 1065px 215px #FFF, 1764px 613px #FFF, 710px 778px #FFF, 1933px 1548px #FFF, 565px 274px #FFF, 1962px 117px #FFF, 1849px 1201px #FFF, 1844px 325px #FFF, 158px 1118px #FFF, 121px 1301px #FFF, 957px 1417px #FFF, 1402px 1361px #FFF, 126px 1701px #FFF, 1267px 1368px #FFF, 1190px 721px #FFF, 1352px 645px #FFF, 264px 1100px #FFF, 1083px 1049px #FFF, 1934px 536px #FFF, 1773px 2px #FFF, 1335px 1756px #FFF, 651px 1030px #FFF, 1757px 941px #FFF, 507px 261px #FFF, 918px 125px #FFF, 14px 1900px #FFF, 1065px 1020px #FFF, 710px 1311px #FFF, 1697px 153px #FFF, 221px 689px #FFF, 1009px 134px #FFF, 1717px 19px #FFF, 1782px 1907px #FFF, 1782px 1747px #FFF, 1702px 3px #FFF, 382px 976px #FFF, 1769px 205px #FFF, 1520px 39px #FFF, 816px 136px #FFF, 996px 1850px #FFF, 532px 1637px #FFF, 1000px 1271px #FFF, 653px 174px #FFF, 1915px 1681px #FFF, 640px 1018px #FFF, 101px 746px #FFF, 1803px 676px #FFF, 1401px 1852px #FFF, 1695px 1935px #FFF, 1085px 98px #FFF, 1195px 1152px #FFF, 1348px 1270px #FFF, 666px 1089px #FFF, 1549px 1403px #FFF, 228px 1990px #FFF, 1801px 222px #FFF, 918px 367px #FFF, 1560px 1545px #FFF, 1167px 1040px #FFF, 585px 190px #FFF, 949px 87px #FFF, 1016px 461px #FFF, 988px 635px #FFF, 1713px 819px #FFF, 909px 1255px #FFF, 582px 785px #FFF, 1175px 586px #FFF, 1096px 156px #FFF, 309px 1631px #FFF, 1733px 1452px #FFF, 894px 1546px #FFF, 1017px 1565px #FFF, 791px 1837px #FFF, 1207px 1971px #FFF, 366px 936px #FFF, 1150px 236px #FFF, 57px 1069px #FFF, 1326px 763px #FFF, 652px 1245px #FFF, 801px 860px #FFF, 1935px 1202px #FFF, 1385px 1429px #FFF, 150px 1929px #FFF, 406px 759px #FFF, 1974px 545px #FFF, 1362px 1010px #FFF, 173px 482px #FFF, 1578px 821px #FFF, 852px 566px #FFF, 220px 1389px #FFF, 1464px 344px #FFF, 373px 510px #FFF, 1133px 674px #FFF, 731px 641px #FFF, 478px 934px #FFF, 886px 13px #FFF, 872px 1664px #FFF, 1554px 1967px #FFF, 1554px 1954px #FFF, 7px 664px #FFF, 388px 539px #FFF, 1180px 572px #FFF, 1633px 989px #FFF, 306px 168px #FFF, 955px 1065px #FFF, 858px 459px #FFF, 840px 1021px #FFF, 1448px 1193px #FFF, 382px 543px #FFF, 1373px 207px #FFF, 1130px 974px #FFF, 1310px 937px #FFF, 788px 1679px #FFF, 532px 486px #FFF, 1089px 474px #FFF, 733px 36px #FFF, 1009px 1956px #FFF, 1902px 1697px #FFF, 1149px 1857px #FFF, 435px 1116px #FFF, 1984px 772px #FFF, 1808px 1010px #FFF, 1487px 1591px #FFF, 1840px 434px #FFF, 399px 305px #FFF, 662px 1871px #FFF, 234px 1920px #FFF, 1092px 758px #FFF, 1997px 757px #FFF, 1623px 1506px #FFF, 370px 727px #FFF, 1868px 743px #FFF, 1057px 977px #FFF, 1458px 1769px #FFF, 630px 882px #FFF, 859px 344px #FFF, 1106px 570px #FFF, 608px 638px #FFF, 1539px 928px #FFF, 1669px 1816px #FFF, 1541px 1536px #FFF, 1331px 688px #FFF, 1084px 233px #FFF, 806px 1460px #FFF, 1533px 376px #FFF, 1074px 1629px #FFF, 3px 320px #FFF, 1915px 1167px #FFF, 620px 889px #FFF, 1723px 21px #FFF, 1922px 854px #FFF, 1806px 689px #FFF, 940px 1902px #FFF, 339px 1038px #FFF, 1650px 656px #FFF, 1085px 942px #FFF, 1141px 938px #FFF, 1899px 782px #FFF, 1858px 370px #FFF, 489px 1767px #FFF, 348px 579px #FFF, 886px 1519px #FFF, 1229px 1125px #FFF, 1577px 1613px #FFF, 1908px 415px #FFF, 814px 281px #FFF, 267px 1023px #FFF, 470px 894px #FFF, 1718px 761px #FFF, 55px 553px #FFF, 1911px 963px #FFF, 1052px 564px #FFF, 547px 1419px #FFF, 828px 1723px #FFF, 570px 385px #FFF, 758px 117px #FFF, 1171px 93px #FFF, 1035px 1262px #FFF, 1692px 500px #FFF, 1437px 1075px #FFF, 1458px 1426px #FFF, 612px 876px #FFF, 1445px 1240px #FFF, 1044px 1414px #FFF, 431px 840px #FFF, 1177px 96px #FFF, 447px 9px #FFF, 1275px 501px #FFF, 260px 616px #FFF, 275px 981px #FFF, 1238px 1896px #FFF, 1411px 1602px #FFF, 1399px 526px #FFF, 1496px 453px #FFF, 860px 1570px #FFF, 1327px 1029px #FFF, 1945px 1915px #FFF, 1979px 1231px #FFF, 112px 1493px #FFF, 1952px 1247px #FFF, 1322px 560px #FFF, 666px 670px #FFF, 92px 137px #FFF, 200px 1073px #FFF, 1216px 421px #FFF, 831px 1948px #FFF, 1453px 1831px #FFF, 1035px 765px #FFF, 1380px 1277px #FFF, 940px 1762px #FFF, 1120px 1176px #FFF, 1930px 494px #FFF, 803px 641px #FFF, 1968px 201px #FFF, 783px 130px #FFF, 864px 554px #FFF, 1412px 1655px #FFF, 1458px 1285px #FFF, 822px 660px #FFF, 1759px 772px #FFF, 1558px 1803px #FFF, 621px 1506px #FFF, 167px 913px #FFF, 1156px 1929px #FFF, 1125px 1392px #FFF, 569px 814px #FFF, 328px 1426px #FFF, 585px 1631px #FFF, 497px 1972px #FFF, 1386px 1812px #FFF, 1262px 860px #FFF, 276px 1626px #FFF, 1540px 122px #FFF, 1418px 646px #FFF, 254px 1278px #FFF, 884px 385px #FFF, 1106px 781px #FFF, 1246px 1475px #FFF, 1941px 897px #FFF, 1191px 1972px #FFF, 903px 384px #FFF, 1917px 1872px #FFF, 411px 1601px #FFF, 1433px 1422px #FFF, 1776px 93px #FFF, 601px 81px #FFF, 733px 1301px #FFF, 404px 136px #FFF, 1502px 1088px #FFF, 931px 1906px #FFF, 977px 733px #FFF, 1282px 1023px #FFF, 1210px 968px #FFF, 306px 1370px #FFF, 918px 915px #FFF, 434px 1626px #FFF, 446px 324px #FFF, 1712px 77px #FFF, 1444px 650px #FFF, 1318px 1331px #FFF, 1185px 732px #FFF, 1934px 1915px #FFF, 1966px 1921px #FFF, 522px 1240px #FFF, 1019px 1418px #FFF, 824px 251px #FFF, 1031px 878px #FFF, 716px 1511px #FFF, 793px 1834px #FFF, 1523px 1598px #FFF, 291px 1825px #FFF, 1874px 955px #FFF, 1180px 253px #FFF, 1513px 434px #FFF, 1997px 875px #FFF, 589px 1814px #FFF, 872px 953px #FFF, 847px 502px #FFF, 988px 1772px #FFF, 1518px 1650px #FFF, 823px 470px #FFF, 1003px 132px #FFF, 1812px 427px #FFF, 133px 229px #FFF, 1932px 1273px #FFF, 50px 487px #FFF, 281px 313px #FFF, 413px 566px #FFF, 1620px 417px #FFF, 1571px 18px #FFF, 1993px 1905px #FFF, 1576px 736px #FFF, 807px 1275px #FFF, 1339px 680px #FFF, 1408px 379px #FFF, 1068px 732px #FFF, 825px 335px #FFF, 1364px 1824px #FFF, 854px 114px #FFF, 507px 94px #FFF, 844px 1930px #FFF, 1773px 697px #FFF, 1166px 992px #FFF, 1164px 1660px #FFF, 1766px 1442px #FFF, 678px 911px #FFF, 224px 783px #FFF, 431px 138px #FFF, 212px 1688px #FFF, 672px 1773px #FFF, 1396px 1474px #FFF, 1342px 1879px #FFF, 310px 680px #FFF, 688px 519px #FFF, 354px 150px #FFF, 802px 1689px #FFF, 1574px 1448px #FFF, 120px 61px #FFF, 1252px 730px #FFF, 130px 1800px #FFF, 1904px 1560px #FFF, 206px 1350px #FFF, 1138px 1149px #FFF, 1481px 1988px #FFF, 12px 426px #FFF, 944px 434px #FFF, 1813px 1253px #FFF, 1665px 259px #FFF, 528px 696px #FFF, 1739px 875px #FFF, 129px 766px #FFF, 802px 1489px #FFF, 1104px 1750px #FFF, 1494px 509px #FFF, 948px 438px #FFF, 1910px 1026px #FFF, 1913px 1905px #FFF, 1933px 246px #FFF, 1599px 17px #FFF, 1052px 702px #FFF, 739px 259px #FFF, 866px 269px #FFF, 1668px 1211px #FFF, 947px 1420px #FFF, 990px 862px #FFF, 1032px 1651px #FFF, 670px 819px #FFF, 1672px 1833px #FFF, 224px 495px #FFF, 362px 919px #FFF, 1343px 1001px #FFF, 938px 1377px #FFF, 424px 75px #FFF, 1615px 1587px #FFF, 1110px 1142px #FFF, 1274px 1008px #FFF, 489px 1815px #FFF, 552px 68px #FFF, 224px 1901px #FFF, 759px 1471px #FFF, 1391px 812px #FFF, 729px 492px #FFF, 1167px 91px #FFF, 1222px 467px #FFF, 1273px 997px #FFF, 1445px 740px #FFF, 164px 1587px #FFF, 1057px 1613px #FFF, 1885px 1117px #FFF, 1107px 1985px #FFF, 850px 239px #FFF, 118px 795px #FFF, 1286px 181px #FFF, 557px 93px #FFF, 1584px 894px #FFF, 1947px 1959px #FFF, 1432px 1234px #FFF, 1711px 1264px #FFF, 814px 1983px #FFF, 447px 816px #FFF, 1977px 352px #FFF, 1986px 1119px #FFF, 318px 673px #FFF, 1010px 1381px #FFF, 1048px 350px #FFF, 273px 275px #FFF, 161px 752px #FFF, 1005px 770px #FFF, 500px 744px #FFF, 1775px 777px #FFF, 820px 1098px #FFF, 978px 1264px #FFF, 1578px 1781px #FFF, 607px 1145px #FFF, 773px 1082px #FFF, 1529px 1918px #FFF, 894px 431px #FFF, 1363px 1275px #FFF, 1955px 863px #FFF, 1824px 1312px #FFF, 414px 1203px #FFF, 1973px 263px #FFF, 1233px 702px #FFF, 416px 1135px #FFF, 431px 292px #FFF, 1687px 1235px #FFF, 1252px 1097px #FFF, 1267px 1930px #FFF, 1077px 50px #FFF, 823px 194px #FFF, 594px 1291px #FFF, 215px 480px #FFF, 1559px 993px #FFF, 182px 1186px #FFF, 571px 1981px #FFF, 1288px 5px #FFF, 442px 936px #FFF, 1886px 1799px #FFF, 824px 366px #FFF, 242px 374px #FFF, 107px 1396px #FFF, 261px 862px #FFF, 1045px 1126px #FFF, 889px 1452px #FFF, 1528px 816px #FFF, 1909px 187px #FFF, 1148px 1910px #FFF, 1697px 72px #FFF, 1641px 1457px #FFF, 1790px 1511px #FFF, 536px 379px #FFF, 1796px 421px #FFF, 1603px 1287px #FFF, 647px 388px #FFF, 1434px 1828px #FFF;
    animation: animStar 25s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 899px 542px #FFF, 1002px 106px #FFF, 879px 987px #FFF, 1601px 233px #FFF, 1471px 184px #FFF, 1027px 423px #FFF, 490px 701px #FFF, 338px 1147px #FFF, 911px 1518px #FFF, 162px 1518px #FFF, 1758px 606px #FFF, 903px 1294px #FFF, 985px 1080px #FFF, 1316px 36px #FFF, 272px 301px #FFF, 464px 5px #FFF, 786px 1254px #FFF, 826px 236px #FFF, 1761px 1699px #FFF, 858px 948px #FFF, 748px 368px #FFF, 1392px 1481px #FFF, 1465px 1378px #FFF, 115px 166px #FFF, 1223px 185px #FFF, 539px 489px #FFF, 1678px 438px #FFF, 510px 306px #FFF, 1026px 1851px #FFF, 638px 1071px #FFF, 964px 249px #FFF, 1340px 1805px #FFF, 2px 1052px #FFF, 902px 1176px #FFF, 823px 1832px #FFF, 139px 1899px #FFF, 141px 375px #FFF, 1214px 1987px #FFF, 690px 449px #FFF, 1554px 1179px #FFF, 800px 1503px #FFF, 1772px 542px #FFF, 1793px 1067px #FFF, 1978px 1758px #FFF, 571px 738px #FFF, 241px 1624px #FFF, 1205px 869px #FFF, 342px 1854px #FFF, 945px 131px #FFF, 507px 1589px #FFF, 1257px 116px #FFF, 1328px 756px #FFF, 1692px 1226px #FFF, 1797px 625px #FFF, 1316px 1396px #FFF, 133px 1591px #FFF, 1840px 1437px #FFF, 934px 1240px #FFF, 1197px 1969px #FFF, 937px 1329px #FFF, 1281px 1507px #FFF, 1276px 1862px #FFF, 218px 1763px #FFF, 1805px 1735px #FFF, 113px 753px #FFF, 449px 1826px #FFF, 693px 409px #FFF, 364px 994px #FFF, 1704px 78px #FFF, 1061px 1614px #FFF, 1001px 1546px #FFF, 649px 370px #FFF, 212px 1349px #FFF, 1185px 218px #FFF, 1581px 256px #FFF, 1212px 271px #FFF, 533px 1461px #FFF, 999px 762px #FFF, 583px 1109px #FFF, 1154px 1569px #FFF, 410px 273px #FFF, 357px 98px #FFF, 1753px 1593px #FFF, 64px 1043px #FFF, 1520px 799px #FFF, 1709px 1119px #FFF, 119px 524px #FFF, 964px 809px #FFF, 1031px 255px #FFF, 1914px 1132px #FFF, 1207px 329px #FFF, 1670px 555px #FFF, 1385px 155px #FFF, 394px 834px #FFF, 1812px 1399px #FFF, 1356px 977px #FFF, 4px 887px #FFF, 114px 945px #FFF, 250px 1076px #FFF, 917px 1906px #FFF, 1309px 1749px #FFF, 691px 1168px #FFF, 1413px 1685px #FFF, 331px 303px #FFF, 1710px 867px #FFF, 1439px 362px #FFF, 300px 1038px #FFF, 65px 306px #FFF, 728px 1036px #FFF, 1079px 34px #FFF, 1669px 1358px #FFF, 454px 951px #FFF, 212px 1963px #FFF, 581px 1114px #FFF, 1948px 1397px #FFF, 540px 501px #FFF, 1374px 1391px #FFF, 374px 542px #FFF, 519px 1470px #FFF, 1800px 192px #FFF, 480px 859px #FFF, 716px 1552px #FFF, 1756px 130px #FFF, 1724px 1791px #FFF, 612px 1077px #FFF, 34px 695px #FFF, 177px 367px #FFF, 1556px 1411px #FFF, 824px 1934px #FFF, 1521px 352px #FFF, 1491px 1780px #FFF, 387px 272px #FFF, 1440px 741px #FFF, 558px 1336px #FFF, 1895px 369px #FFF, 1287px 1600px #FFF, 1509px 19px #FFF, 397px 897px #FFF, 683px 1344px #FFF, 1423px 243px #FFF, 619px 296px #FFF, 1454px 1562px #FFF, 1527px 324px #FFF, 935px 1774px #FFF, 649px 1161px #FFF, 240px 1649px #FFF, 224px 885px #FFF, 363px 562px #FFF, 272px 979px #FFF, 1508px 1766px #FFF, 1446px 963px #FFF, 298px 1838px #FFF, 1803px 631px #FFF, 1828px 991px #FFF, 1481px 1879px #FFF, 1896px 1778px #FFF, 111px 1907px #FFF, 1817px 1777px #FFF, 1284px 784px #FFF, 889px 764px #FFF, 1589px 339px #FFF, 662px 617px #FFF, 1090px 1444px #FFF, 54px 1672px #FFF, 586px 1721px #FFF, 69px 854px #FFF, 511px 148px #FFF, 687px 32px #FFF, 1032px 720px #FFF, 828px 1233px #FFF, 1285px 1272px #FFF, 39px 1252px #FFF, 1137px 1601px #FFF, 1211px 195px #FFF, 496px 1324px #FFF, 809px 244px #FFF, 1223px 475px #FFF, 1867px 377px #FFF, 331px 1123px #FFF, 1213px 429px #FFF, 1699px 152px #FFF, 1053px 595px #FFF, 15px 878px #FFF, 1017px 457px #FFF, 876px 1567px #FFF, 735px 1645px #FFF, 122px 1869px #FFF, 964px 1889px #FFF, 1778px 756px #FFF, 1886px 1835px #FFF, 1444px 1946px #FFF, 520px 1274px #FFF, 572px 396px #FFF, 822px 880px #FFF, 841px 1204px #FFF, 1747px 728px #FFF, 798px 1583px #FFF, 1690px 837px #FFF, 677px 537px #FFF, 1649px 780px #FFF, 1157px 140px #FFF, 489px 967px #FFF, 243px 505px #FFF, 412px 1722px #FFF, 87px 1463px #FFF, 1463px 713px #FFF, 692px 1732px #FFF, 877px 574px #FFF, 1188px 518px #FFF, 5px 1458px #FFF, 847px 1596px #FFF, 1700px 1740px #FFF, 514px 1043px #FFF, 84px 239px #FFF, 1335px 1574px #FFF, 1104px 194px #FFF, 288px 954px #FFF, 1466px 775px #FFF, 442px 1199px #FFF, 1955px 20px #FFF, 669px 1479px #FFF, 1278px 1045px #FFF, 1422px 1436px #FFF, 962px 788px #FFF, 833px 742px #FFF, 813px 343px #FFF, 1123px 457px #FFF, 185px 56px #FFF, 1985px 1137px #FFF, 1684px 974px #FFF, 272px 777px #FFF, 1674px 540px #FFF, 1850px 1455px #FFF, 1044px 396px #FFF, 1013px 651px #FFF, 435px 637px #FFF, 1873px 1175px #FFF, 1664px 1632px #FFF, 508px 105px #FFF, 494px 802px #FFF, 996px 1442px #FFF, 1048px 998px #FFF, 1148px 1454px #FFF, 1329px 179px #FFF, 847px 1815px #FFF, 1629px 588px #FFF, 633px 1938px #FFF, 915px 218px #FFF, 1202px 1147px #FFF, 290px 177px #FFF, 1368px 487px #FFF, 1491px 1705px #FFF, 1594px 108px #FFF, 175px 624px #FFF, 121px 1122px #FFF, 1877px 1042px #FFF, 531px 1121px #FFF, 1954px 1263px #FFF, 1145px 287px #FFF, 929px 588px #FFF, 1292px 457px #FFF, 1557px 188px #FFF, 1487px 546px #FFF, 1417px 903px #FFF, 343px 704px #FFF, 1065px 215px #FFF, 1764px 613px #FFF, 710px 778px #FFF, 1933px 1548px #FFF, 565px 274px #FFF, 1962px 117px #FFF, 1849px 1201px #FFF, 1844px 325px #FFF, 158px 1118px #FFF, 121px 1301px #FFF, 957px 1417px #FFF, 1402px 1361px #FFF, 126px 1701px #FFF, 1267px 1368px #FFF, 1190px 721px #FFF, 1352px 645px #FFF, 264px 1100px #FFF, 1083px 1049px #FFF, 1934px 536px #FFF, 1773px 2px #FFF, 1335px 1756px #FFF, 651px 1030px #FFF, 1757px 941px #FFF, 507px 261px #FFF, 918px 125px #FFF, 14px 1900px #FFF, 1065px 1020px #FFF, 710px 1311px #FFF, 1697px 153px #FFF, 221px 689px #FFF, 1009px 134px #FFF, 1717px 19px #FFF, 1782px 1907px #FFF, 1782px 1747px #FFF, 1702px 3px #FFF, 382px 976px #FFF, 1769px 205px #FFF, 1520px 39px #FFF, 816px 136px #FFF, 996px 1850px #FFF, 532px 1637px #FFF, 1000px 1271px #FFF, 653px 174px #FFF, 1915px 1681px #FFF, 640px 1018px #FFF, 101px 746px #FFF, 1803px 676px #FFF, 1401px 1852px #FFF, 1695px 1935px #FFF, 1085px 98px #FFF, 1195px 1152px #FFF, 1348px 1270px #FFF, 666px 1089px #FFF, 1549px 1403px #FFF, 228px 1990px #FFF, 1801px 222px #FFF, 918px 367px #FFF, 1560px 1545px #FFF, 1167px 1040px #FFF, 585px 190px #FFF, 949px 87px #FFF, 1016px 461px #FFF, 988px 635px #FFF, 1713px 819px #FFF, 909px 1255px #FFF, 582px 785px #FFF, 1175px 586px #FFF, 1096px 156px #FFF, 309px 1631px #FFF, 1733px 1452px #FFF, 894px 1546px #FFF, 1017px 1565px #FFF, 791px 1837px #FFF, 1207px 1971px #FFF, 366px 936px #FFF, 1150px 236px #FFF, 57px 1069px #FFF, 1326px 763px #FFF, 652px 1245px #FFF, 801px 860px #FFF, 1935px 1202px #FFF, 1385px 1429px #FFF, 150px 1929px #FFF, 406px 759px #FFF, 1974px 545px #FFF, 1362px 1010px #FFF, 173px 482px #FFF, 1578px 821px #FFF, 852px 566px #FFF, 220px 1389px #FFF, 1464px 344px #FFF, 373px 510px #FFF, 1133px 674px #FFF, 731px 641px #FFF, 478px 934px #FFF, 886px 13px #FFF, 872px 1664px #FFF, 1554px 1967px #FFF, 1554px 1954px #FFF, 7px 664px #FFF, 388px 539px #FFF, 1180px 572px #FFF, 1633px 989px #FFF, 306px 168px #FFF, 955px 1065px #FFF, 858px 459px #FFF, 840px 1021px #FFF, 1448px 1193px #FFF, 382px 543px #FFF, 1373px 207px #FFF, 1130px 974px #FFF, 1310px 937px #FFF, 788px 1679px #FFF, 532px 486px #FFF, 1089px 474px #FFF, 733px 36px #FFF, 1009px 1956px #FFF, 1902px 1697px #FFF, 1149px 1857px #FFF, 435px 1116px #FFF, 1984px 772px #FFF, 1808px 1010px #FFF, 1487px 1591px #FFF, 1840px 434px #FFF, 399px 305px #FFF, 662px 1871px #FFF, 234px 1920px #FFF, 1092px 758px #FFF, 1997px 757px #FFF, 1623px 1506px #FFF, 370px 727px #FFF, 1868px 743px #FFF, 1057px 977px #FFF, 1458px 1769px #FFF, 630px 882px #FFF, 859px 344px #FFF, 1106px 570px #FFF, 608px 638px #FFF, 1539px 928px #FFF, 1669px 1816px #FFF, 1541px 1536px #FFF, 1331px 688px #FFF, 1084px 233px #FFF, 806px 1460px #FFF, 1533px 376px #FFF, 1074px 1629px #FFF, 3px 320px #FFF, 1915px 1167px #FFF, 620px 889px #FFF, 1723px 21px #FFF, 1922px 854px #FFF, 1806px 689px #FFF, 940px 1902px #FFF, 339px 1038px #FFF, 1650px 656px #FFF, 1085px 942px #FFF, 1141px 938px #FFF, 1899px 782px #FFF, 1858px 370px #FFF, 489px 1767px #FFF, 348px 579px #FFF, 886px 1519px #FFF, 1229px 1125px #FFF, 1577px 1613px #FFF, 1908px 415px #FFF, 814px 281px #FFF, 267px 1023px #FFF, 470px 894px #FFF, 1718px 761px #FFF, 55px 553px #FFF, 1911px 963px #FFF, 1052px 564px #FFF, 547px 1419px #FFF, 828px 1723px #FFF, 570px 385px #FFF, 758px 117px #FFF, 1171px 93px #FFF, 1035px 1262px #FFF, 1692px 500px #FFF, 1437px 1075px #FFF, 1458px 1426px #FFF, 612px 876px #FFF, 1445px 1240px #FFF, 1044px 1414px #FFF, 431px 840px #FFF, 1177px 96px #FFF, 447px 9px #FFF, 1275px 501px #FFF, 260px 616px #FFF, 275px 981px #FFF, 1238px 1896px #FFF, 1411px 1602px #FFF, 1399px 526px #FFF, 1496px 453px #FFF, 860px 1570px #FFF, 1327px 1029px #FFF, 1945px 1915px #FFF, 1979px 1231px #FFF, 112px 1493px #FFF, 1952px 1247px #FFF, 1322px 560px #FFF, 666px 670px #FFF, 92px 137px #FFF, 200px 1073px #FFF, 1216px 421px #FFF, 831px 1948px #FFF, 1453px 1831px #FFF, 1035px 765px #FFF, 1380px 1277px #FFF, 940px 1762px #FFF, 1120px 1176px #FFF, 1930px 494px #FFF, 803px 641px #FFF, 1968px 201px #FFF, 783px 130px #FFF, 864px 554px #FFF, 1412px 1655px #FFF, 1458px 1285px #FFF, 822px 660px #FFF, 1759px 772px #FFF, 1558px 1803px #FFF, 621px 1506px #FFF, 167px 913px #FFF, 1156px 1929px #FFF, 1125px 1392px #FFF, 569px 814px #FFF, 328px 1426px #FFF, 585px 1631px #FFF, 497px 1972px #FFF, 1386px 1812px #FFF, 1262px 860px #FFF, 276px 1626px #FFF, 1540px 122px #FFF, 1418px 646px #FFF, 254px 1278px #FFF, 884px 385px #FFF, 1106px 781px #FFF, 1246px 1475px #FFF, 1941px 897px #FFF, 1191px 1972px #FFF, 903px 384px #FFF, 1917px 1872px #FFF, 411px 1601px #FFF, 1433px 1422px #FFF, 1776px 93px #FFF, 601px 81px #FFF, 733px 1301px #FFF, 404px 136px #FFF, 1502px 1088px #FFF, 931px 1906px #FFF, 977px 733px #FFF, 1282px 1023px #FFF, 1210px 968px #FFF, 306px 1370px #FFF, 918px 915px #FFF, 434px 1626px #FFF, 446px 324px #FFF, 1712px 77px #FFF, 1444px 650px #FFF, 1318px 1331px #FFF, 1185px 732px #FFF, 1934px 1915px #FFF, 1966px 1921px #FFF, 522px 1240px #FFF, 1019px 1418px #FFF, 824px 251px #FFF, 1031px 878px #FFF, 716px 1511px #FFF, 793px 1834px #FFF, 1523px 1598px #FFF, 291px 1825px #FFF, 1874px 955px #FFF, 1180px 253px #FFF, 1513px 434px #FFF, 1997px 875px #FFF, 589px 1814px #FFF, 872px 953px #FFF, 847px 502px #FFF, 988px 1772px #FFF, 1518px 1650px #FFF, 823px 470px #FFF, 1003px 132px #FFF, 1812px 427px #FFF, 133px 229px #FFF, 1932px 1273px #FFF, 50px 487px #FFF, 281px 313px #FFF, 413px 566px #FFF, 1620px 417px #FFF, 1571px 18px #FFF, 1993px 1905px #FFF, 1576px 736px #FFF, 807px 1275px #FFF, 1339px 680px #FFF, 1408px 379px #FFF, 1068px 732px #FFF, 825px 335px #FFF, 1364px 1824px #FFF, 854px 114px #FFF, 507px 94px #FFF, 844px 1930px #FFF, 1773px 697px #FFF, 1166px 992px #FFF, 1164px 1660px #FFF, 1766px 1442px #FFF, 678px 911px #FFF, 224px 783px #FFF, 431px 138px #FFF, 212px 1688px #FFF, 672px 1773px #FFF, 1396px 1474px #FFF, 1342px 1879px #FFF, 310px 680px #FFF, 688px 519px #FFF, 354px 150px #FFF, 802px 1689px #FFF, 1574px 1448px #FFF, 120px 61px #FFF, 1252px 730px #FFF, 130px 1800px #FFF, 1904px 1560px #FFF, 206px 1350px #FFF, 1138px 1149px #FFF, 1481px 1988px #FFF, 12px 426px #FFF, 944px 434px #FFF, 1813px 1253px #FFF, 1665px 259px #FFF, 528px 696px #FFF, 1739px 875px #FFF, 129px 766px #FFF, 802px 1489px #FFF, 1104px 1750px #FFF, 1494px 509px #FFF, 948px 438px #FFF, 1910px 1026px #FFF, 1913px 1905px #FFF, 1933px 246px #FFF, 1599px 17px #FFF, 1052px 702px #FFF, 739px 259px #FFF, 866px 269px #FFF, 1668px 1211px #FFF, 947px 1420px #FFF, 990px 862px #FFF, 1032px 1651px #FFF, 670px 819px #FFF, 1672px 1833px #FFF, 224px 495px #FFF, 362px 919px #FFF, 1343px 1001px #FFF, 938px 1377px #FFF, 424px 75px #FFF, 1615px 1587px #FFF, 1110px 1142px #FFF, 1274px 1008px #FFF, 489px 1815px #FFF, 552px 68px #FFF, 224px 1901px #FFF, 759px 1471px #FFF, 1391px 812px #FFF, 729px 492px #FFF, 1167px 91px #FFF, 1222px 467px #FFF, 1273px 997px #FFF, 1445px 740px #FFF, 164px 1587px #FFF, 1057px 1613px #FFF, 1885px 1117px #FFF, 1107px 1985px #FFF, 850px 239px #FFF, 118px 795px #FFF, 1286px 181px #FFF, 557px 93px #FFF, 1584px 894px #FFF, 1947px 1959px #FFF, 1432px 1234px #FFF, 1711px 1264px #FFF, 814px 1983px #FFF, 447px 816px #FFF, 1977px 352px #FFF, 1986px 1119px #FFF, 318px 673px #FFF, 1010px 1381px #FFF, 1048px 350px #FFF, 273px 275px #FFF, 161px 752px #FFF, 1005px 770px #FFF, 500px 744px #FFF, 1775px 777px #FFF, 820px 1098px #FFF, 978px 1264px #FFF, 1578px 1781px #FFF, 607px 1145px #FFF, 773px 1082px #FFF, 1529px 1918px #FFF, 894px 431px #FFF, 1363px 1275px #FFF, 1955px 863px #FFF, 1824px 1312px #FFF, 414px 1203px #FFF, 1973px 263px #FFF, 1233px 702px #FFF, 416px 1135px #FFF, 431px 292px #FFF, 1687px 1235px #FFF, 1252px 1097px #FFF, 1267px 1930px #FFF, 1077px 50px #FFF, 823px 194px #FFF, 594px 1291px #FFF, 215px 480px #FFF, 1559px 993px #FFF, 182px 1186px #FFF, 571px 1981px #FFF, 1288px 5px #FFF, 442px 936px #FFF, 1886px 1799px #FFF, 824px 366px #FFF, 242px 374px #FFF, 107px 1396px #FFF, 261px 862px #FFF, 1045px 1126px #FFF, 889px 1452px #FFF, 1528px 816px #FFF, 1909px 187px #FFF, 1148px 1910px #FFF, 1697px 72px #FFF, 1641px 1457px #FFF, 1790px 1511px #FFF, 536px 379px #FFF, 1796px 421px #FFF, 1603px 1287px #FFF, 647px 388px #FFF, 1434px 1828px #FFF;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 584px 1962px #FFF, 949px 803px #FFF, 636px 858px #FFF, 1946px 1929px #FFF, 409px 748px #FFF, 462px 436px #FFF, 1533px 973px #FFF, 741px 969px #FFF, 519px 785px #FFF, 1509px 1302px #FFF, 1812px 566px #FFF, 1623px 1045px #FFF, 1396px 100px #FFF, 1124px 1679px #FFF, 976px 1102px #FFF, 844px 943px #FFF, 1528px 1272px #FFF, 289px 1641px #FFF, 1099px 632px #FFF, 106px 1256px #FFF, 437px 1750px #FFF, 425px 1624px #FFF, 1562px 678px #FFF, 1588px 421px #FFF, 1499px 1690px #FFF, 1565px 1323px #FFF, 1344px 763px #FFF, 10px 1014px #FFF, 1396px 578px #FFF, 823px 1210px #FFF, 1898px 1618px #FFF, 728px 715px #FFF, 1658px 961px #FFF, 1675px 1678px #FFF, 1294px 142px #FFF, 1256px 1980px #FFF, 547px 774px #FFF, 1053px 1174px #FFF, 997px 848px #FFF, 590px 278px #FFF, 140px 412px #FFF, 946px 680px #FFF, 1766px 1075px #FFF, 1260px 463px #FFF, 1384px 371px #FFF, 779px 437px #FFF, 886px 1046px #FFF, 45px 1261px #FFF, 844px 164px #FFF, 287px 897px #FFF, 762px 158px #FFF, 351px 286px #FFF, 1914px 1794px #FFF, 559px 119px #FFF, 1018px 1034px #FFF, 1996px 1538px #FFF, 568px 1254px #FFF, 280px 365px #FFF, 958px 1807px #FFF, 1286px 1980px #FFF, 1439px 1490px #FFF, 904px 1690px #FFF, 1968px 109px #FFF, 601px 483px #FFF, 260px 128px #FFF, 558px 1076px #FFF, 1649px 1931px #FFF, 941px 979px #FFF, 1683px 386px #FFF, 815px 1665px #FFF, 34px 868px #FFF, 1668px 1690px #FFF, 787px 1846px #FFF, 1587px 1133px #FFF, 760px 1143px #FFF, 295px 1127px #FFF, 408px 951px #FFF, 1648px 565px #FFF, 452px 1284px #FFF, 314px 1817px #FFF, 278px 1046px #FFF, 298px 304px #FFF, 1857px 678px #FFF, 1345px 795px #FFF, 1934px 1293px #FFF, 1683px 1115px #FFF, 1066px 2000px #FFF, 909px 1155px #FFF, 304px 377px #FFF, 1263px 756px #FFF, 412px 281px #FFF, 362px 1738px #FFF, 486px 1862px #FFF, 1267px 221px #FFF, 772px 1104px #FFF, 1035px 245px #FFF, 1816px 1083px #FFF, 1908px 1625px #FFF, 1531px 276px #FFF, 1670px 1356px #FFF, 1097px 912px #FFF, 1360px 1643px #FFF, 1027px 670px #FFF, 1580px 443px #FFF, 341px 1223px #FFF, 2000px 1727px #FFF, 115px 367px #FFF, 1084px 1670px #FFF, 1133px 295px #FFF, 247px 1284px #FFF, 950px 1842px #FFF, 1775px 439px #FFF, 1271px 906px #FFF, 1800px 1576px #FFF, 1041px 301px #FFF, 808px 1628px #FFF, 1999px 573px #FFF, 259px 1161px #FFF, 1742px 1043px #FFF, 1793px 1021px #FFF, 686px 1657px #FFF, 635px 394px #FFF, 1204px 1336px #FFF, 214px 875px #FFF, 1184px 167px #FFF, 1598px 625px #FFF, 1199px 1889px #FFF, 102px 857px #FFF, 724px 1536px #FFF, 421px 1540px #FFF, 1149px 547px #FFF, 337px 1165px #FFF, 918px 54px #FFF, 1818px 1774px #FFF, 1729px 1764px #FFF, 1222px 754px #FFF, 1908px 904px #FFF, 1210px 1628px #FFF, 804px 1600px #FFF, 671px 1605px #FFF, 826px 1422px #FFF, 1225px 375px #FFF, 1718px 1909px #FFF, 1121px 955px #FFF, 988px 1708px #FFF, 872px 691px #FFF, 175px 850px #FFF, 25px 716px #FFF, 1534px 1053px #FFF, 1940px 1670px #FFF, 134px 177px #FFF, 1829px 1455px #FFF, 948px 1223px #FFF, 814px 1557px #FFF, 1098px 339px #FFF, 1595px 706px #FFF, 376px 928px #FFF, 635px 283px #FFF, 1508px 949px #FFF, 346px 1750px #FFF, 1403px 71px #FFF, 1446px 1528px #FFF, 95px 1768px #FFF, 170px 1702px #FFF, 1372px 275px #FFF, 609px 1005px #FFF, 1523px 101px #FFF, 186px 1237px #FFF, 1940px 937px #FFF, 1983px 1550px #FFF, 995px 141px #FFF, 1257px 1283px #FFF, 815px 1546px #FFF, 550px 76px #FFF, 380px 476px #FFF, 521px 994px #FFF, 1235px 1890px #FFF, 1117px 425px #FFF, 1608px 1143px #FFF, 63px 1261px #FFF, 76px 1270px #FFF, 14px 1957px #FFF, 1398px 514px #FFF, 1108px 785px #FFF, 990px 1732px #FFF, 8px 779px #FFF, 1316px 1733px #FFF, 495px 302px #FFF, 1281px 1313px #FFF, 1417px 1228px #FFF, 1720px 950px #FFF, 1432px 1802px #FFF, 507px 1640px #FFF, 1033px 1969px #FFF, 606px 636px #FFF, 809px 473px #FFF, 97px 1459px #FFF, 304px 632px #FFF, 225px 1928px #FFF, 1734px 398px #FFF;
    animation: animStar 50s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 584px 1962px #FFF, 949px 803px #FFF, 636px 858px #FFF, 1946px 1929px #FFF, 409px 748px #FFF, 462px 436px #FFF, 1533px 973px #FFF, 741px 969px #FFF, 519px 785px #FFF, 1509px 1302px #FFF, 1812px 566px #FFF, 1623px 1045px #FFF, 1396px 100px #FFF, 1124px 1679px #FFF, 976px 1102px #FFF, 844px 943px #FFF, 1528px 1272px #FFF, 289px 1641px #FFF, 1099px 632px #FFF, 106px 1256px #FFF, 437px 1750px #FFF, 425px 1624px #FFF, 1562px 678px #FFF, 1588px 421px #FFF, 1499px 1690px #FFF, 1565px 1323px #FFF, 1344px 763px #FFF, 10px 1014px #FFF, 1396px 578px #FFF, 823px 1210px #FFF, 1898px 1618px #FFF, 728px 715px #FFF, 1658px 961px #FFF, 1675px 1678px #FFF, 1294px 142px #FFF, 1256px 1980px #FFF, 547px 774px #FFF, 1053px 1174px #FFF, 997px 848px #FFF, 590px 278px #FFF, 140px 412px #FFF, 946px 680px #FFF, 1766px 1075px #FFF, 1260px 463px #FFF, 1384px 371px #FFF, 779px 437px #FFF, 886px 1046px #FFF, 45px 1261px #FFF, 844px 164px #FFF, 287px 897px #FFF, 762px 158px #FFF, 351px 286px #FFF, 1914px 1794px #FFF, 559px 119px #FFF, 1018px 1034px #FFF, 1996px 1538px #FFF, 568px 1254px #FFF, 280px 365px #FFF, 958px 1807px #FFF, 1286px 1980px #FFF, 1439px 1490px #FFF, 904px 1690px #FFF, 1968px 109px #FFF, 601px 483px #FFF, 260px 128px #FFF, 558px 1076px #FFF, 1649px 1931px #FFF, 941px 979px #FFF, 1683px 386px #FFF, 815px 1665px #FFF, 34px 868px #FFF, 1668px 1690px #FFF, 787px 1846px #FFF, 1587px 1133px #FFF, 760px 1143px #FFF, 295px 1127px #FFF, 408px 951px #FFF, 1648px 565px #FFF, 452px 1284px #FFF, 314px 1817px #FFF, 278px 1046px #FFF, 298px 304px #FFF, 1857px 678px #FFF, 1345px 795px #FFF, 1934px 1293px #FFF, 1683px 1115px #FFF, 1066px 2000px #FFF, 909px 1155px #FFF, 304px 377px #FFF, 1263px 756px #FFF, 412px 281px #FFF, 362px 1738px #FFF, 486px 1862px #FFF, 1267px 221px #FFF, 772px 1104px #FFF, 1035px 245px #FFF, 1816px 1083px #FFF, 1908px 1625px #FFF, 1531px 276px #FFF, 1670px 1356px #FFF, 1097px 912px #FFF, 1360px 1643px #FFF, 1027px 670px #FFF, 1580px 443px #FFF, 341px 1223px #FFF, 2000px 1727px #FFF, 115px 367px #FFF, 1084px 1670px #FFF, 1133px 295px #FFF, 247px 1284px #FFF, 950px 1842px #FFF, 1775px 439px #FFF, 1271px 906px #FFF, 1800px 1576px #FFF, 1041px 301px #FFF, 808px 1628px #FFF, 1999px 573px #FFF, 259px 1161px #FFF, 1742px 1043px #FFF, 1793px 1021px #FFF, 686px 1657px #FFF, 635px 394px #FFF, 1204px 1336px #FFF, 214px 875px #FFF, 1184px 167px #FFF, 1598px 625px #FFF, 1199px 1889px #FFF, 102px 857px #FFF, 724px 1536px #FFF, 421px 1540px #FFF, 1149px 547px #FFF, 337px 1165px #FFF, 918px 54px #FFF, 1818px 1774px #FFF, 1729px 1764px #FFF, 1222px 754px #FFF, 1908px 904px #FFF, 1210px 1628px #FFF, 804px 1600px #FFF, 671px 1605px #FFF, 826px 1422px #FFF, 1225px 375px #FFF, 1718px 1909px #FFF, 1121px 955px #FFF, 988px 1708px #FFF, 872px 691px #FFF, 175px 850px #FFF, 25px 716px #FFF, 1534px 1053px #FFF, 1940px 1670px #FFF, 134px 177px #FFF, 1829px 1455px #FFF, 948px 1223px #FFF, 814px 1557px #FFF, 1098px 339px #FFF, 1595px 706px #FFF, 376px 928px #FFF, 635px 283px #FFF, 1508px 949px #FFF, 346px 1750px #FFF, 1403px 71px #FFF, 1446px 1528px #FFF, 95px 1768px #FFF, 170px 1702px #FFF, 1372px 275px #FFF, 609px 1005px #FFF, 1523px 101px #FFF, 186px 1237px #FFF, 1940px 937px #FFF, 1983px 1550px #FFF, 995px 141px #FFF, 1257px 1283px #FFF, 815px 1546px #FFF, 550px 76px #FFF, 380px 476px #FFF, 521px 994px #FFF, 1235px 1890px #FFF, 1117px 425px #FFF, 1608px 1143px #FFF, 63px 1261px #FFF, 76px 1270px #FFF, 14px 1957px #FFF, 1398px 514px #FFF, 1108px 785px #FFF, 990px 1732px #FFF, 8px 779px #FFF, 1316px 1733px #FFF, 495px 302px #FFF, 1281px 1313px #FFF, 1417px 1228px #FFF, 1720px 950px #FFF, 1432px 1802px #FFF, 507px 1640px #FFF, 1033px 1969px #FFF, 606px 636px #FFF, 809px 473px #FFF, 97px 1459px #FFF, 304px 632px #FFF, 225px 1928px #FFF, 1734px 398px #FFF;
} */


/* #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1265px 1967px #FFF, 65px 322px #FFF, 511px 376px #FFF, 573px 1240px #FFF, 1338px 503px #FFF, 1122px 1017px #FFF, 739px 732px #FFF, 37px 410px #FFF, 1415px 405px #FFF, 1789px 1741px #FFF, 1120px 289px #FFF, 91px 668px #FFF, 1370px 429px #FFF, 761px 1216px #FFF, 462px 1179px #FFF, 738px 1117px #FFF, 637px 1027px #FFF, 642px 1457px #FFF, 1937px 1452px #FFF, 1433px 1570px #FFF, 1449px 691px #FFF, 352px 1685px #FFF, 739px 369px #FFF, 1366px 136px #FFF, 1822px 745px #FFF, 214px 1045px #FFF, 602px 982px #FFF, 55px 1796px #FFF, 1572px 1877px #FFF, 352px 1308px #FFF, 1251px 1062px #FFF, 1526px 1762px #FFF, 709px 532px #FFF, 473px 1803px #FFF, 1169px 1742px #FFF, 637px 1163px #FFF, 1054px 1642px #FFF, 1199px 687px #FFF, 851px 306px #FFF, 1050px 700px #FFF, 1637px 995px #FFF, 790px 509px #FFF, 1956px 577px #FFF, 1106px 916px #FFF, 1169px 314px #FFF, 500px 621px #FFF, 580px 1757px #FFF, 177px 1864px #FFF, 1553px 1823px #FFF, 1082px 1145px #FFF, 1546px 216px #FFF, 1159px 1397px #FFF, 263px 1407px #FFF, 701px 1073px #FFF, 646px 96px #FFF, 1781px 177px #FFF, 251px 16px #FFF, 1655px 449px #FFF, 496px 668px #FFF, 902px 1478px #FFF, 1886px 1463px #FFF, 1613px 1316px #FFF, 1082px 1661px #FFF, 189px 1526px #FFF, 1322px 1481px #FFF, 112px 1381px #FFF, 1008px 1979px #FFF, 1484px 569px #FFF, 203px 685px #FFF, 1080px 862px #FFF, 279px 1288px #FFF, 304px 1749px #FFF, 467px 1425px #FFF, 170px 1839px #FFF, 245px 1283px #FFF, 1154px 494px #FFF, 1285px 272px #FFF, 1126px 1852px #FFF, 17px 119px #FFF, 1376px 1581px #FFF, 183px 1676px #FFF, 681px 1577px #FFF, 192px 1665px #FFF, 492px 1863px #FFF, 1866px 1280px #FFF, 1741px 1229px #FFF, 1398px 1483px #FFF, 459px 1039px #FFF, 406px 1754px #FFF, 1270px 1473px #FFF, 1349px 203px #FFF, 483px 1851px #FFF, 1232px 153px #FFF, 1805px 132px #FFF, 1781px 1849px #FFF, 682px 1686px #FFF, 479px 278px #FFF, 370px 20px #FFF, 1954px 552px #FFF, 42px 1806px #FFF;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1265px 1967px #FFF, 65px 322px #FFF, 511px 376px #FFF, 573px 1240px #FFF, 1338px 503px #FFF, 1122px 1017px #FFF, 739px 732px #FFF, 37px 410px #FFF, 1415px 405px #FFF, 1789px 1741px #FFF, 1120px 289px #FFF, 91px 668px #FFF, 1370px 429px #FFF, 761px 1216px #FFF, 462px 1179px #FFF, 738px 1117px #FFF, 637px 1027px #FFF, 642px 1457px #FFF, 1937px 1452px #FFF, 1433px 1570px #FFF, 1449px 691px #FFF, 352px 1685px #FFF, 739px 369px #FFF, 1366px 136px #FFF, 1822px 745px #FFF, 214px 1045px #FFF, 602px 982px #FFF, 55px 1796px #FFF, 1572px 1877px #FFF, 352px 1308px #FFF, 1251px 1062px #FFF, 1526px 1762px #FFF, 709px 532px #FFF, 473px 1803px #FFF, 1169px 1742px #FFF, 637px 1163px #FFF, 1054px 1642px #FFF, 1199px 687px #FFF, 851px 306px #FFF, 1050px 700px #FFF, 1637px 995px #FFF, 790px 509px #FFF, 1956px 577px #FFF, 1106px 916px #FFF, 1169px 314px #FFF, 500px 621px #FFF, 580px 1757px #FFF, 177px 1864px #FFF, 1553px 1823px #FFF, 1082px 1145px #FFF, 1546px 216px #FFF, 1159px 1397px #FFF, 263px 1407px #FFF, 701px 1073px #FFF, 646px 96px #FFF, 1781px 177px #FFF, 251px 16px #FFF, 1655px 449px #FFF, 496px 668px #FFF, 902px 1478px #FFF, 1886px 1463px #FFF, 1613px 1316px #FFF, 1082px 1661px #FFF, 189px 1526px #FFF, 1322px 1481px #FFF, 112px 1381px #FFF, 1008px 1979px #FFF, 1484px 569px #FFF, 203px 685px #FFF, 1080px 862px #FFF, 279px 1288px #FFF, 304px 1749px #FFF, 467px 1425px #FFF, 170px 1839px #FFF, 245px 1283px #FFF, 1154px 494px #FFF, 1285px 272px #FFF, 1126px 1852px #FFF, 17px 119px #FFF, 1376px 1581px #FFF, 183px 1676px #FFF, 681px 1577px #FFF, 192px 1665px #FFF, 492px 1863px #FFF, 1866px 1280px #FFF, 1741px 1229px #FFF, 1398px 1483px #FFF, 459px 1039px #FFF, 406px 1754px #FFF, 1270px 1473px #FFF, 1349px 203px #FFF, 483px 1851px #FFF, 1232px 153px #FFF, 1805px 132px #FFF, 1781px 1849px #FFF, 682px 1686px #FFF, 479px 278px #FFF, 370px 20px #FFF, 1954px 552px #FFF, 42px 1806px #FFF;
} */


/* 
#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
} */


/* Float */

.float {
    display: inline-block;
    transition-duration: 0.2s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float:hover {
    transform: translateY(-5px);
}

.button {
    margin: 0.4em;
    padding: 1em;
    cursor: pointer;
    background: #ececec69;
    text-decoration: none;
    color: rgba(102, 102, 102, 0.644);
}


/* 
.dropdown-menu-custom {
    background-image: linear-gradient(to right, rgb(94, 13, 187), #1d51a5);
}

.dropdown-item {
    background-image: linear-gradient(to right, rgb(94, 13, 187), #1d51a5);
} */

.dropdown-menu {
    background-color: transparent !important;
    /* background-color: #fff !important; */
}

.container_cu {
    /* width: 100%;
    height: 100%; */
    /* CSS Smooth Scroll */
    /* overflow: scroll; */
    /* overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
}

* {
    margin: 0;
    padding: 0;
}


/* section { */


/* display: flex;
    flex-direction: column; */


/* align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; */


/* height: 100vh; */


/* Scroll Snap */


/* scroll-snap-align: center;
/* } */

html {
    overflow: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#services {
    padding: 80px 0;
}

.service-img {
    width: 100px;
    margin-top: 20px;
}

.services {
    padding: 20px;
}

#project {
    margin-bottom: 0cm;
}

.col-md-6 {
    height: 600px;
}

.services img {
    height: 3cm;
}


/* .searchbtn { */


/* color: rgb(29, 13, 243);
    border-color: rgb(9, 12, 190); */


/* color: #ffffff6e;
    border-color: #ffffff73;
} */

.btn-outline-success {
    color: #e01273;
    border-color: #ee04a0;
}

.btn {
    color: #ffffff78 !important;
    border-color: #d0d9e971 !important;
    background-color: transparent !important;
}


/* @media (max-width: 932px) { */


/* .d-md-block {
        display: block!important;
    } */


/* .rtp_bg {
        height: 54%;
        padding-top: 15%;
        padding-left: 0%;
    }
} */