.nav_div {
    background-image: url(../images/16819429_1262086310527106_2835418273979012764_o.png);
    height: 40%;
    /* background-size: 40px */
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.nav-custom_2 {
    position: sticky;
}

.banner_img {
    width: 100%;
}


/* .nav-link{

} */

.navbar-nav li a {
    color: rgba(236, 132, 72, 0.856) !important;
    font-weight: 600;
    /* text-align: left; */
}

body {
    font-family: sans-serif;
    /* overflow: scroll; */
    /* height:  */
    /* padding: 0%;
    margin: 0%; */
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-custom {
    background-image: linear-gradient(to right, rgb(94, 13, 187), #1d51a5);
    padding: 0.5 !important;
}

.navbar-brand img {
    height: 1.3cm;
    padding-left: 10px;
}


/* .fa-bars {
    color: azure;
} */

.navbar-toggler {
    outline: none !important;
}

.float {
    display: inline-block;
    transition-duration: 0.2s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float:hover {
    transform: translateY(-6px);
}

.button {
    margin: 0.4em;
    padding: 1em;
    cursor: pointer;
    background: #ececec69;
    text-decoration: none;
    color: rgba(102, 102, 102, 0.644);
}

html {
    overflow: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.btn-outline-success {
    color: #e01273;
    border-color: #ee04a0;
}

.btn {
    color: #d4916a78 !important;
    border-color: #bb7b5671 !important;
    background-color: transparent !important;
}

a,
body,
div,
h1,
h2,
h3,
h4,
li,
span,
td,
tr {
    font-family: Roboto Condensed, sans-serif!important;
}

.about .vision .vision_text {
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
    font-size: 1.125rem;
    text-align: justify;
    letter-spacing: .01em;
    color: #393939;
    margin: 4.5rem 0;
    opacity: .5;
}

@media (max-width: 995px) {
    .nav_div {
        background-image: url(../images/16819429_1262086310527106_2835418273979012764_o.png);
        /* height: 600px; */
        /* background-size: 40px */
        background-repeat: no-repeat;
        /* background-size: 1160px; */
    }
    /* .btn {
        color: #3fcc2288 !important;
        border-color: #29e41071 !important;
        background-color: transparent !important;
    }
    .button {
        margin: 0.4em;
        padding: 1em;
        cursor: pointer;
        background: #c7171769;
        text-decoration: none;
        color: rgba(199, 23, 23, 0.644);
    } */
    .navbar-nav li a {
        color: rgba(116, 46, 8, 0.856) !important;
        font-weight: 600;
        /* text-align: left; */
    }
}

.array {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    text-align: center;
}

.array .team_unit img {
    width: 100%;
    -webkit-filter: grayscale(80%);
    filter: grayscale(40%);
    transition: .2s ease;
}

.about {
    margin: 7.625rem 14.2vw;
}

.fab {
    font-family: "Font Awesome 5 Brands";
    text-align: center !important;
    align-items: center !important;
}

.div {
    display: block;
}

.team .array .team_unit .fa-facebook-f {
    padding: 0.4375rem 0.875rem;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Brands";
    box-sizing: border-box;
    margin-right: 1.5;
    color: rgb(255, 255, 255);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(78, 123, 238);
    border-top-width: 1;
    border-right-width: 1;
    border-bottom-width: 1;
    border-left-width: 1;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(78, 123, 238);
    border-right-color: rgb(78, 123, 238);
    border-bottom-color: rgb(78, 123, 238);
    border-left-color: rgb(78, 123, 238);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 0.4375;
    padding-right: 0.875;
    padding-bottom: 0.4375;
    padding-left: 0.875;
    font-size: 1.25rem;
    box-shadow: rgba(100, 103, 105, 0.12) 0px 3px 40px;
    actualWidth: 31.25;
    actualHeight: 29.125;
}

.team .array .team_unit .fa-linkedin-in {
    padding: 0.4375rem 0.875rem;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Brands";
    box-sizing: border-box;
    margin-right: 1.5;
    color: rgb(255, 255, 255);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(78, 123, 238);
    border-top-width: 1;
    border-right-width: 1;
    border-bottom-width: 1;
    border-left-width: 1;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(78, 123, 238);
    border-right-color: rgb(78, 123, 238);
    border-bottom-color: rgb(78, 123, 238);
    border-left-color: rgb(78, 123, 238);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 0.4375;
    padding-right: 0.625;
    padding-bottom: 0.4375;
    padding-left: 0.625;
    font-size: 1.25rem;
    box-shadow: rgba(100, 103, 105, 0.12) 0px 3px 40px;
    actualWidth: 30.75;
    actualHeight: 29.125;
}

div {
    margin: 0;
    padding: 0;
}

*,
 :after,
 :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

center {
    text-align: -webkit-center;
}

.fa-facebook-f:before {
    content: "\f39e";
}

.fa-linkedin-in:before {
    content: "\f0e1";
}

a {
    box-sizing: border-box;
    color: rgb(64, 169, 255);
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    background-color: initial;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: color;
    touch-action: manipulation;
    font-family: "Roboto Condensed", sans-serif;
    /* actualWidth: 56;
    actualHeight: 17; */
}

.team_unit {
    text-align: center !important;
    align-items: center !important;
}

.team .array .team_unit i {
    margin-right: 0;
    color: #393939;
    background: #fff;
    border: 1px solid #393939;
    box-sizing: border-box;
    border-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding: 0.4375rem 0.625rem;
    font-size: 1.25rem;
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

center {
    text-align: -webkit-center;
}

.div .user_links {
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    padding-top: 1.125;
    padding-bottom: 1.125;
    actualWidth: 325;
    actualHeight: 60.75;
}