.nav_div {
    background-image: url(../images/16819429_1262086310527106_2835418273979012764_o.png);
    height: 600px;
    /* background-size: 40px */
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-custom_2 {
    position: sticky;
}

.banner_img {
    width: 100%;
}


/* .nav-link{

} */

.navbar-nav li a {
    color: rgba(236, 132, 72, 0.856) !important;
    font-weight: 600;
    /* text-align: left; */
}

body {
    font-family: sans-serif;
    /* overflow: scroll; */
    /* height:  */
    /* padding: 0%;
    margin: 0%; */
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-custom {
    background-image: linear-gradient(to right, rgb(94, 13, 187), #1d51a5);
    padding: 0.5 !important;
}

.navbar-brand img {
    height: 1.3cm;
    padding-left: 10px;
}


/* .fa-bars {
    color: azure;
} */

.navbar-toggler {
    outline: none !important;
}

.float {
    display: inline-block;
    transition-duration: 0.2s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float:hover {
    transform: translateY(-6px);
}

.button {
    margin: 0.4em;
    padding: 1em;
    cursor: pointer;
    background: #ececec69;
    text-decoration: none;
    color: rgba(102, 102, 102, 0.644);
}

html {
    overflow: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.btn-outline-success {
    color: #e01273;
    border-color: #ee04a0;
}

.btn {
    color: #d4916a78 !important;
    border-color: #bb7b5671 !important;
    background-color: transparent !important;
}

@media (max-width: 995px) {
    .nav_div {
        background-image: url(../images/16819429_1262086310527106_2835418273979012764_o.png);
        height: 600px;
        /* background-size: 40px */
        background-repeat: no-repeat;
        background-size: 1160px;
    }
    /* .btn {
        color: #3fcc2288 !important;
        border-color: #29e41071 !important;
        background-color: transparent !important;
    }
    .button {
        margin: 0.4em;
        padding: 1em;
        cursor: pointer;
        background: #c7171769;
        text-decoration: none;
        color: rgba(199, 23, 23, 0.644);
    } */
    .navbar-nav li a {
        color: rgba(116, 46, 8, 0.856) !important;
        font-weight: 600;
        /* text-align: left; */
    }
}